<style>
    .footer {
        position: relative;
        bottom: 0;
        color: #fff;
        text-align: center;
        padding: 20px;
    }
</style>

<footer class="footer bg-dark">
    <div class="container">
        <span class="text-ligth"> Todos lo derechos reservados @Rolando Cruz</span>

    </div>
</footer>