<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
</head>

<body class="container">
    <center>
        <%- include('partials/header.ejs') %>
            <%- include('partials/navegacion.ejs') %>
                <div class="container">
                    <h3 class="text-center">Practica 03</h3>
                </div>
    </center>
    <%- include('partials/footer.ejs') %>
</body>

</html>